* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.App {
  text-align: center;
}

main {
  width: 100vw;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

header, footer {
  width: 100vw;
  color: white;
  background-color: #282c34;
  height: 10vh;
  display: flex;
  align-items: center;
  position: fixed;
  left: 0;
}

header {
  top: 0;
  border-bottom: 5px solid white;
}

footer {


  bottom: 0;
  border-top: 5px solid white;
}

footer a {
  color:rgb(62, 62, 255);
  text-decoration: none;
}

header h3, footer p{
  margin-left: 15px;
}

#logos {
  display: flex;
  align-items: center;
  height: 100%;
  position: absolute;
  right: 10px;
}

#logos img{
  margin-left: 10px;
  height: 80%;
}

#searchDiv {
  width: 50%;
  margin: 20px auto;
  margin-top: 15vh;
  height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(159, 159, 159);
}

#searchDiv i {
  font-size: 2.5rem;
}


#searchDiv input {
  background-color: white;
  border-radius: 5px;
  height: 1.5rem;
  margin: 6px;
}

#searchDiv button {
  color: white;
  background-color: rgb(62, 62, 255);
  padding: 6px;
  border: none;
  border-radius: 5px;
}



#moviesGrid {
  width: 75%;
  margin: 20px auto;
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
  padding-bottom: 10vh;
}

#moviesGrid div, #plot {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

#moviesGrid div img {
  margin-top: 20px;
  width: 80%;
}

#moviesGrid div p {
  margin-top: 10px;
  color: white;
}

#moviesGrid div button {
  width: 70%;
}

#moviesGrid #noMovies {
  width: 75vw;
  margin-right: 20px;
  text-align: center;
  background-color: white;
}

#buttons {
  display: flex;
  align-items: flex-end;
}

#plot button {
  padding: 6px;
  border-radius: 5px;
  background-color: transparent;
  border: none;
  margin-left: 10px;
}

#moviesGrid div button {
  margin-top: 10px;
  color: white;
  background-color: rgb(62, 62, 255);
  height: 2rem;
}

#moviesGrid div button a, #plot button a {
  color: white;
  text-decoration: none;
}

#container {
  margin: 10vh 0;
}

#detailContainer {
  display: flex;
  margin: 10px 20px;
}

#detailInfos {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  
}

#detailPoster img {
  height: 100%;
}

#detailPoster {
  height: 50vh;
}

#detailInfos p {
  border: 1px grey solid;
  min-height: 2.5rem;
  padding-top: 16px;
}

#detailInfos p:first-of-type {
  padding-top: 0;
  font-size: 1.7rem;
  height: 2rem;
  border: none;
}

#plot h1 {
  font-size: 1.7rem;

}

#plot p {
  font-size: 0.9rem;
}

#plot h1, #plot p {
  margin-bottom: 5px;
}

#plot {
  width: 95vw;
  color: white;
  text-align: left;
  justify-content: space-around;
  align-items: flex-start;
  padding: 10px;
  margin-left: 20px;
}

#plot button:first-of-type {
  color: white;
  background-color: rgb(62, 62, 255);
}

#plot button {
  margin-top: 5px;
  height: 1.5rem;
}

@media only screen and (max-width: 1000px) {
  #moviesGrid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media only screen and (max-width: 750px) {
  #moviesGrid {
    grid-template-columns: 1fr 1fr;
  }
}


@media only screen and (max-width: 500px) {
  #searchDiv h3, #searchDiv i {
    font-size: 1rem;
  }

  #moviesGrid {
    grid-template-columns: 1fr;
  }

  #detailContainer {
    flex-direction: column;
  }
}


